.page__content {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  align-items: unset !important;
  flex-wrap: wrap-reverse;

  .content {
    max-width: 650px;

    .contact__me__paragraph {
      font-size: 1.3rem;
    }

    h2 {
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }
}
